doctype html 
html(lang="ko")
	head 
		meta(charset="utf-8")
		title API Token 생성
	body 
		form(name="tokenForm" method="post" action="/create")
			input(type="text" name="userid" placeholder="아이디")
			input(type="text" name="domain" placeholder="도메인")
			button API Key 생성
		h2.domain 
		h3.key